/* general */

html {
  font-family: Helvetica;
  font-size: 18px;
}

/* set the site container to 960px with 100% background */

.background {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 960px;
}

/* set defauly column flex container style */

.ccontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* header */

header {
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
}

header .background {
  background-color: black;
}

header .container {
  justify-content: flex-start;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding: 0 1rem 0 0.5rem;
}

header span {
  padding: 0.66rem 0;
}

/* main container */

/* banner */

.banner {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.banner span {
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.banner h1 {
  font-size: 2rem;
}

.banner.background {
  height: 25rem;
  background-image: url("../img/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner .ccontainer {
  width: 20rem;
  margin-top: 9rem;
  padding: 2rem 0 2rem 3rem;
  background-color: black;
}

/* navigation bar */

nav {
  color: white;
  padding: 0.75rem 0;
}

.nav.background {
  background-color: firebrick;
}

nav.menu {
  display: none;
}

/* product thumbs */

.products .container {
  padding: 3rem 0;
}

.products .ccontainer {
  width: 30%;
}

.products .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.products img {
  max-width: 8em;
}

.products span {
  padding: 0.5rem;
  color: white;
  background-color: black;
  text-align: center;
}

/* info container */

.info .container {
  padding-bottom: 4rem;
}

.info .ccontainer {
  width: 35%;
}

.info .info-title {
  color: white;
  background-color: black;
  padding: 1rem 2rem;
  margin-bottom: 0.25rem;
}

/* footer */

footer .background {
  background-color: black;
  height: 5rem;
}

footer .container {
  color: white;
  align-items: center;
}

/* tablet mode (width: 1024px) */

@media only screen and (max-width: 1024px) {
  nav.list {
    display: none;
  }
  nav.menu {
    display: flex;
    justify-content: center;
  }
  .products .container {
    flex-wrap: wrap;
    padding: 2rem 0;
  }
  .products .ccontainer {
    width: 47%;
    margin: 1rem 0;
  }
}

/* phone mode (width: 470px) */

@media only screen and (max-width: 470px) {
  .banner.background {
    height: 15rem;
  }
  .banner .ccontainer {
    margin-top: 10rem;
    padding: 1rem 0 1rem 2rem;
  }
  .banner span {
    font-size: 0.77rem;
  }
  .banner h1 {
    font-size: 1rem;
  }
  .products .container {
    justify-content: center;
  }
  .products .ccontainer {
    width: 90%;
  }
  .info .container {
    padding-bottom: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .info .ccontainer {
    width: 90%;
    margin-bottom: 0.5rem;
  }
  footer .container {
    justify-content: center;
  }
}
